@font-face {
    font-family: helvetica;
    src: url('data/Helvetica Bold.ttf');
}

#body {
    background-color: #fefefe;
    width: 100%;
    height: 900px;
    top: 0px;
    left: 0px;
    margin-left: 0px;
}

.background {
    z-index: -100;
    position: fixed;
    background-color: #77a1ae;
    width: 100%;
    height: 1090px;
    left: 0px;
    top: 0px;
}

a:link {
    color: #fefefe;
}

a:visited {
    color: #fefefe;
}

a:hover {
    color: #e7e7e7;
}

a:active {
    color: dimgrey;
}

a {
    text-decoration: none;
}

#header {
    z-index: 99999;
    background-color: #fefefe;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    left: 50%;
    top: 0px;
    margin-left: -50%;
    margin-top: -5px;
}

#header li a:link {
    color: #77a1ae;
}

#header li a:visited {
    color: #77a1ae;
}

#header li {
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 17px;
    font-family: helvetica;
    float: left;
    position: relative;
    display: block;
    height: 30px;
    width: 120px;
    padding: 10px;
}

#button {
    position: fixed;
    z-index: 99999;
    left: 90%;
    top: 0px;
    margin-top: 10px;
}

#button .button {
    background-color: #77a1ae;
    border: none;
    color: #fefefe;
    padding: 10px 25px;
    text-align: center;
    font-family: helvetica;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#button .button:hover {
    background-color: #fefefe;
    color: #77a1ae;
}

#footer h1 {
    background-color: black;
    color: #77a1ae;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 1.5em;
    font-family: helvetica;
    text-transform: uppercase;
    float: left;
    position: absolute;
    display: block;
    top: 90%;
    left: 0px;
}

.tag {
    position: fixed;
    z-index: 99998;
    width: 50px;
    height: 50px;
    top: 90%;
    left: 90%;
    cursor: pointer;

}

.tag img {
    width: 50px;
    height: 50px;
}

.bottomBar {
    color: #fefefe;
    font-family: helvetica;
    line-height: normal;
    text-align: left;
    letter-spacing: normal;
    background-color: #181719;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 350px;
    top: 1090px;
    left: 0px;
    margin-left: 0px;
}

.bottomBar h1 {
    margin-top: 75px;
    margin-left: 5%;
    font-size: 5em;
}

.bottomBar .bar {
    margin-top: 25px;
    margin-left: 5%;
    font-size: 2.5em;
    line-height: 10px;
}

#article {
    position: absolute;
    height: 300px;
    width: 560px;
    top: 100px;
    left: 50%;
    margin-left: -280px;
    margin-top: 60px;
}

#article img {
    width: 300px;
    height: 200px;
}

#article h1 {
    position: relative;
    color: #fefefe;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 1.2em;
    font-family: helvetica;
    float: left;
}

#article h2 {
    position: relative;
    color: #fefefe;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 1.2em;
    font-family: helvetica;
    float: left;
}

@media (max-width: 1366px) {
    #header li {
        font-weight: bold;
        font-size: 15px;
        position: relative;
        display: block;
        height: 30px;
        width: 120px;
        padding: 8px;
    }

}

@media (max-width: 414px) {
    #header li {
        left: -18px;
        font-weight: bold;
        font-size: 10px;
        font-family: helvetica;
        float: left;
        position: relative;
        display: block;
        height: 15px;
        width: 24px;
        padding: 11px;
    }

    #button {
        position: fixed;
        z-index: 99999;
        left: 50%;
        top: 654px;
        margin-left: -50px;
    }

    .tag {
        left: 120%;
    }

    #footer h1 {
        left: -300px;
    }

    .bottomBar {
        color: #fefefe;
        font-family: helvetica;
        line-height: normal;
        text-align: left;
        letter-spacing: normal;
        background-color: #181719;
        position: relative;
        z-index: 5;
        width: 100%;
        height: 350px;
        top: 790px;
        left: 0px;
        margin-left: 0px;
    }

    .bottomBar h1 {
        margin-top: 75px;
        margin-left: 5%;
        font-size: 2em;
    }

    .bottomBar .bar {
        margin-top: 25px;
        margin-left: 5%;
        font-size: 1.2em;
        line-height: 10px;
    }

    #article {
        position: absolute;
        height: 300px;
        width: 360px;
        top: 100px;
        left: 0%;
        margin-left: 20px;
        margin-top: 0px;
    }

    #article img {
        width: 300px;
        height: 200px;
    }

    #article h1 {
        position: relative;
        color: #fefefe;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 1.2em;
        font-family: helvetica;
        float: left;
    }

    #article h2 {
        position: relative;
        color: #fefefe;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 0.8em;
        font-family: helvetica;
        float: left;
    }

}
